@using PhotoGallery.Helpers
@model PhotoGallery.Services.DataObjects.ListOfPhotosDto

<div class="col-sm-12">
    <div class="row">
        @for (int i = 0; i < Model.PhotoDtoList.Count; i++)
        {
            if (i % 3 == 0)
            {
                <div class="clearfix"></div>
            }
            <div class="col-sm-4">
                <a class="thumbnail"
                   data-target="#photoModal"
                   data-toggle="modal"
                   data-id="@Model.PhotoDtoList[i].PhotoId">
                    <p>@Model.PhotoDtoList[i].Name</p>
                    @Html.Image(Url.Action("ShowThumbPhoto", "Photos", new { id = Model.PhotoDtoList[i].PhotoId }), @Model.PhotoDtoList[i].Description)
                </a>

                @if (Model.CanBeChanged)
                {
                    <input type="checkbox" name="selectedItems" class="img-checkbox" data-photoid="@Model.PhotoDtoList[i].PhotoId" value="@Model.PhotoDtoList[i].PhotoId" />
                    @Html.ActionLink("Edit", "Edit", "Photos", new { id = Model.PhotoDtoList[i].PhotoId }, null)
                    @:|
                    @Html.ActionLink("Delete", "Delete", "Photos", new { id = Model.PhotoDtoList[i].PhotoId }, null)
                    @:|
                    @Html.ActionLink("Add to Album", "AddToAlbum", "Photos", new { id = Model.PhotoDtoList[i].PhotoId }, null)
                }

                <button type="button" class="btn btn-default btn-sm btn-like 
                        @Html.ButtonVoteClasses(Model.PhotoDtoList[i].Liked, Model.PhotoDtoList[i].CanVote, true)">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    <span class="like" id="@Model.PhotoDtoList[i].PhotoId"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm btn-dislike 
                        @Html.ButtonVoteClasses(Model.PhotoDtoList[i].Liked, Model.PhotoDtoList[i].CanVote, false)">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    <span class="dislike" id="@Model.PhotoDtoList[i].PhotoId"></span>
                </button>
            </div>
        }
    </div>
</div>

<div class="modal" id="photoModal" tabindex="-1" data-url='@Url.Action("PhotoModalDialog", "Photos")'>
</div>
