@model PhotoGallery.Domain.Photo


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@Model.Name</h4>
        </div>
        <div class="modal-body">
            <a href='@Url.Action("ShowOriginalPhoto", "Photos", new {id = Model.PhotoId})'
               title="@Model.Description">
                <img src='@Url.Action("ShowMediumPhoto", "Photos", new {id = Model.PhotoId})'
                     alt="@Model.Description"
                     class="img-thumbnail" />
            </a>
            @Html.LabelFor(model => model.CreationDate) : @Model.CreationDate <br />
            @Html.LabelFor(model => model.Location) : @Html.DisplayFor(model => model.Location)<br />
            @Html.LabelFor(model => model.CameraModel) : @Html.DisplayFor(model => model.CameraModel) <br />
            @Html.LabelFor(model => model.FocalLengthOfLens) : @Html.DisplayFor(model => model.FocalLengthOfLens) <br />
            @Html.LabelFor(model => model.Aperture) : @Html.DisplayFor(model => model.Aperture) <br />
            @Html.LabelFor(model => model.ShutterSpeed) : @Html.DisplayFor(model => model.ShutterSpeed) <br />
            @Html.LabelFor(model => model.Iso) : @Html.DisplayFor(model => model.Iso) <br />
            @Html.LabelFor(model => model.Flash) : @Html.DisplayFor(model => model.Flash)
            </div>
        </div>
    </div>
</div>
