@using PhotoGallery.Domain
@model PhotoGallery.Services.DataObjects.AlbumDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>

<div clas="row" class="text-center">
    <a href='@Url.Action("ShowOriginalPhoto", "Photos", new {id = Model.MainPhoto.PhotoId})'
       title="@Model.Description">
        <img src='@Url.Action("ShowMediumPhoto", "Photos", new {id = Model.MainPhoto.PhotoId})'
             alt="@Model.Description"
             class="img-thumbnail" />
    </a>
</div>

@if (Model.CanBeChanged)
{
    <p>
        <button class="deletePhotos" data-id="@Model.Id">Delete Selected From Album</button>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

@Html.Partial("_PhotoList", Model.Photos)

@section Scripts{
    @Scripts.Render("~/bundles/photos")
    @Scripts.Render("~/bundles/albumDetails")
}
