@model List<PhotoGallery.Domain.Album>

@{
    ViewBag.Title = "Albums";
}

<h2>Albums</h2>

@using (Html.BeginForm("Search", "Photos"))
{
    <input name="name" id="name" type="text" />

    <input type="submit" class="btn btn-info"
           value="SEARCH" />

    <a href='@Url.Action("AdvancedSearch", "Photos")'>
        <input type="button" class="btn btn-info"
                value="ADVANCED SEARCH" />
    </a>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="col-sm-12">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href='@Url.Action("Details", "Albums", new {albumName = item.Name.Replace(" ", "-")})' class="thumbnail">
                    <p>@item.Name</p>
                    <img src='@Url.Action("ShowThumbPhoto", "Photos", new {id = item.MainPhoto.PhotoId})'
                         alt="@item.Description"/>

                </a>

                @{
                    RouteValueDictionary routeValueDictinary = new RouteValueDictionary();
                    routeValueDictinary["albumName"] = item.Name.Replace(" ", "-");
                }
                <button class="copyToClipboardButton" data-url='@Url.Action("Details", "Albums", routeValueDictinary, Request.Url?.Scheme, null)'>Get Link</button>
            </div>
        }
    </div>
</div>

@section Scripts{
<script src="~/Scripts/Albums/albums.js"></script>
}