@using PhotoGallery.Domain
@model List<Album>

@{
    ViewBag.Title = "Albums";
}

<h2>Albums</h2>

@using (Html.BeginForm("Search", "Photos"))
{
    <input name="name" id="name" type="text" />

    <input type="submit" class="btn btn-info"
           value="SEARCH PHOTO" />

        <a href='@Url.Action("AdvancedSearch", "Photos")'>
            <input type="button" class="btn btn-info"
                   value="ADVANCED SEARCH" />
        </a>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="col-sm-12">
    <div class="row">
        @for (int i = 0; i < Model.Count; i++)
        {
            if (i % 4 == 0)
            {
                <div class="clearfix"></div>
            }
            <div class="col-sm-3">
                <a href='@Url.Action("Details", "Albums", new {albumName = Model[i].Name.Replace(" ", "-")})' class="thumbnail">
                    <p>@Model[i].Name</p>
                    <img src='@Url.Action("ShowThumbPhoto", "Photos", new {id = Model[i].MainPhoto.PhotoId})'
                         alt="@Model[i].Description" />

                </a>

                @{
                    RouteValueDictionary routeValueDictinary = new RouteValueDictionary();
                    routeValueDictinary["albumName"] = Model[i].Name.Replace(" ", "-");
                }
                <button class="copyToClipboardButton" data-url='@Url.Action("Details", "Albums", routeValueDictinary, Request.Url?.Scheme, null)'>Get Link</button>
            </div>
                    }

    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/albums")
}